<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>

  <h1>hello world!</h1>
  
  <h1> <%= name %></h1>
  <a href="/api/create/message">Messages create</a>
  <a href="/messages">See all the messages</a>


</body>
</html>